<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}

<div class="row">

    <div class="col-md-12 ">
<div class="menu">
    <ul class="menu-main">
        <li><a href="/pokazniki">Показники</a></li>
        <li><a href="/rozklad">Призначені справи</a></li>
        <li><a href="/onlinedoc">Онлайн документи</a></li>
        <li><a href="/term">Новини</a></li>
        <li><a href="">Ідеї</a></li>
    </ul>

</div>
</div>
</div>
<div class="row">
<div class="logo_type"><span class="logo_text">ІНТРАНЕТ</span><p>
        <span class="logo_intro">Касаційного адміністративного суду</span><br><span class="logo_intro">у складі Верховного Суду</span>
</div>

</div>

     <body>

     <div class="row ">

         <div class="col-sm-4 ">
    <div class="main_menu_midle">
        <ul class="second-main main_page">
            <li><a href="/calendar_info">Розклад призначених до розгляду справ у смартфоні</a></li>
        </ul>
        <div class="posirion_descr"> <p class="description_menu">Умови для отримання доступу до календаря</p></div>
    </div>


    <div class="main_menu_midle">
        <ul class="second-main main_page">
            <li> <a href="https://docs.google.com/forms/d/e/1FAIpQLSesmqwbY-h-EGbm5L-Q3S5Fc2IwMzaYYQmsfvgdI1MPCKpMGg/viewform" target="_blank">Форма для отримання розкладу призначених до розгляду справ у смартфоні</a></li>
        </ul>
        <div class="posirion_descr"> <p class="description_menu">Форма календаря</p></div>
    </div>


    <div class="main_menu_midle">
        <ul class="second-main main_page">
            <li> <a href="/employee">Новопризначеним працівникам</a></li>
        </ul>
        <div class="posirion_descr"> <p class="description_menu">інформаційна для нових працівників суду</p></div>
    </div>


    <div class="main_menu_midle">
        <ul class="second-main main_page">
            <li> <a href="/link">Корисні посилання</a></li>
        </ul>
        <div class="posirion_descr"> <p class="description_menu">посилання на інформаційні ресурси</p></div>
    </div>


    <div class="main_menu_midle">
        <ul class="second-main main_page">
            <li> <a href="/instrukciya">Довідка</a></li>
        </ul>
        <div class="posirion_descr"> <p class="description_menu">щодо роботи програми "ДСС"</p></div>
    </div>


     </div>

         <div class="col-sm-4">
             <div class="main_menu_midle">
                 <ul class="second-main main_page">
                     <li><a href="/zahody">КАЛЕНДАР ЗАХОДІВ КАСАЦІЙНОГО АДМІНІСТРАТИВНОГО СУДУ</a></li>

                 </ul>
                 <div class="posirion_descr"> <p class="description_menu">Календар</p></div>
             </div>

         </div>

     <div class="col-sm-4 ">

         <div class="main_menu_midle">
             <ul class="second-main main_page">

                 <li> <a href="https://forms.gle/jVyFH6PkC9x6VBAS9" target="_blank">ФОРМА ЩОДО ПИТАНЬ ФУНКЦІОНУВАННЯ АВТОМАТИЗОВАНОЇ СИСТЕМИ ДОКУМЕНТООБІГУ СУДУ</a></li>
             </ul>
             <div class="posirion_descr"> <p class="description_menu">посилання на форму</p></div>
         </div>

         <div class="main_menu_midle">
             <ul class="second-main main_page">
                 <li> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnXHWcFAJp6ZJXIsxCMJhUoxZFOJOsRzYvFq4EjvViT3QGkg/viewform" target="_blank">ОНЛАЙН КУРСИ ДЛЯ ПІДВИЩЕННЯ КВАЛІФІКАЦІЇ ПРАЦІВНИКІВ СЕКРЕТАРІАТУ КАСАЦІЙНОГО АДМІНІСТРАТИВНОГО СУДУ</a></li>
             </ul>
             <div class="posirion_descr"> <p class="description_menu">посилання на форму</p></div>
         </div>

     </div>




</div>

  {#   <img src="public/img/femida.svg" id="femida">#}
    </body>
</div>
</html>
