<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}
<body>

<div class="container-fluid">
    {% include ('module/mainmenu.html.twig') %}
    <div class="row logo">

        <div class="col-md-6">
            <h2 class="text-left"><a href="/">Розклад розгляду адміністративних справ в Касаційному адміністративному суді</a> </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

        <p>&nbsp;</p>
        <p>Розклад судових засідань дозволяє переглядати інформацію про участь судді у складі колегії суддів для розгляду конкретної справи.</p>
        <p>Записи (нагадування) щодо призначеної справи відображають інформацію про суддю-доповідача, дату та час судового засідання, номер провадження,
            єдиний унікальний номер справи, найменування учасників процесу, склад колегії суддів визначений автоматизованою системою документообігу суду.</p>

            <p><b>Умови для отримання доступу до Розкладу:</b></p>
        <ol>
            <li>Поштова скринька Gmail (Google Mail).</li>
            <li>Для використання Розкладу на смартфоні (планшеті) наявність офіційного додатку &laquo;Google Календар&raquo;.</li>
            <li>Заповнити форму доступу до <a href="https://forms.gle/DZvJkQ83DdZnyqnU6" target="_blank">Розкладу.</a></li>
            <li>Підтвердити на електронній пошті додавання календаря </li>
        </ol>

        <p>Розклад оновлюється кожного робочого дня з 8 години до 9 години 10 хвилин.</p>
        <p>З питань функціонування Розкладу прохання звертатися до відділу забезпечення функціонування автоматизованої системи та електронного суду управління забезпечення автоматизованого документообігу суду секретаріату Касаційного адміністративного суду (вн. тел. 139).</p>

        <p><b>Умовні позначки, які використовуються в Розкладі:</b></p>
        <ul>
            <li><em>&ndash; </em><em></em>суддя-доповідач, визначений&nbsp; для розгляду конкретної справи</li>
            <li>! &ndash; у складі колегії суддів є судді, які будуть відсутні в день судового засідання</li>
        </ul>
        <p>!&nbsp; &ndash; суддя буде відсутній в день судового засідання</p>

            <p>– суддя є суддею-доповідачем, для розгляду конкретної судової справи;<br>
                <img src="/public/img/img_cal_1.jpg"/><br>
                – суддя входить до складу колегії суддів для розгляду конкретної судової справи;<br>
                <img src="/public/img/img_cal_2.jpg"/><br>
                – у складі колегії суддів, де суддя є суддею доповідачем, в день судового засідання відсутній суддя член колегії суддів.<br>
                <img src="/public/img/img_cal_4.jpg"/><br>
            </p>
        <p>&nbsp;</p>

        </div>
    </div>
    {% include ('module/footer.html.twig') %}

</body>
</html>
