<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}

<script type="text/javascript" language="javascript">
    function RunFile() {
        WshShell = new ActiveXObject("WScript.Shell");
        WshShell.Run("e:/ViberSetup.exe", 1, false);
    }
</script>

<body>

<div class="container-fluid">
    {% include ('module/mainmenu.html.twig') %}
    <div class="row logo">

        <div class="col-md-6">
            <h1 class="text-left"><a href="/">Інструкція</a> </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">





            <div class="main">
                <div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a href="#"><i class=""></i>Вхід в систему ДСС</a>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body"><br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons.mp4"></video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a href="#"><i class=""></i>Пошук непідписаних документів суддею</a>
                        </div>
                        <div class="panel-collapse">
                            <br>
                            <div align="center">
                                <video controls muted | width="600" src="public/video/lessons2.mp4"></video>
                            </div>

                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a href="#"><i class=""></i>Створення повісток про виклик в суд</a>
                        </div>
                        <div class="panel-collapse">
                            <br>
                            <div align="center">
                                <video controls muted | width="600" src="public/video/lessons3.mp4"></video>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Перегляд або заповнення статкартки (дата слухання)</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons4.mp4"></video>
                                </div>
                            </div>
                    </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Перегляд статкартки</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons5.mp4"></video>
                                </div>

                            </div>
                        </div>



                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Пошук по номеру касаційного провадження</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons6.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Пошук по номеру справи 1-ї інстанції</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons7.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Пошук по реквізитах(сторона по справі)</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons8.mp4"></video>
                                </div>

                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Прийняття документів в журналі передач</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons9.mp4"></video>
                                </div>

                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Фільтрування за реквізитами в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons10.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Перепідписання документу в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons11.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Створення повідомлень про вручення щодо судових рішень ухвалених по суті справи</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons12.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Перевірка надходження документів через ЕС</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons13.mp4"></video>
                                </div>

                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Прийняття документу та закриття контролю в програмі ДОКПРОФ</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons14.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Розписання резолюції в програмі ДОКПРОФ</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons15.mp4"></video>
                                </div>

                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Реєстрація документу з привязкою до документу на який надається відповідь в програмі ДОКПРОФ</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons16.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						   <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>! Інформація до документу</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons17.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						 <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Встановлення, зняття та фільтрація в реєстрі справ та реєстрі документів ознаки відеоконференцзвязку ВКЗ</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons18.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						 <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Підписання документа КЕП онлайн</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons19.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						 <div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Розмічення тексту документу для часткового приховання в ЄДРСР</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons20.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Створення журналу передач в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons21.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Пошук журналів передач в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons22.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Видалення журналу передач в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons23.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Лист припинення надання загального та повного доступу до документа в ЄДРСР в програмі ДCC</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons24.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Погодження та підписання проєкту документу в автоматизованій системі управління документами «ДОК ПРОФ 3.0»</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons25.mp4"></video>
                                </div>

                            </div>
                        </div>
						
						
						
						<div class="panel">
                            <div class="panel-heading">
                                <a href="#"><i class=""></i>Друк титульної сторінки без збереження в програмі ДСС</a>
                            </div>
                            <div class="panel-collapse">
                                <br>
                                <div align="center">
                                    <video controls muted | width="600" src="public/video/lessons26.mp4"></video>
                                </div>

                            </div>
                        </div>
						

                    </div>
            </div>


            <script>
                $(document).ready(function () {

                    $('.panel-heading').click(function () {
                        $(this).toggleClass('in').next().slideToggle();
                        $('.panel-heading').not(this).removeClass('in').next().slideUp();
                    });

                });
            </script>

</div>
    </div>
    {% include ('module/footer.html.twig') %}

</body>
</html>
