<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}
<body>

<div class="container-fluid">
    {% include ('module/mainmenu.html.twig') %}
    <div class="row logo">

        <div class="col-md-6">
            <h1 class="text-left"><a href="/">Онлайн документи</a> </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="online_doc">
                <div class="online_doc_ifo">Інформативна таблиця</div>
               <h1> <a href="https://docs.google.com/spreadsheets/d/17LPaWsZ5PsGrwf75Yeu_6bsbPF0ZI2uha0n8l1UeYV4/edit?usp=sharing" target="_blank">Показники діяльності Касаційного адміністративного суду у складі Верховного Суду з основних напрямів роботи</a></h1>
            <div class="online_doc_about">Наказ Верховного Суду від 10.01.2019 №1-ОД [1/0/53-19]</div>
            </div>

<br>
            <div id="online_doc">
                <div class="online_doc_ifo">Електронна таблиця</div>
                <h1> <a href="https://docs.google.com/spreadsheets/d/1p_YBCB9BDtBjfKfPFD9NPkxgwbNu5h7gEePy8Pr0x9Y/edit?ts=5d381e26#gid=0" target="_blank">Таблиця щодо розробки довідника "Стани справ"</a></h1>
                <div class="online_doc_about">Розпорядження керівника секретаріату від 23.07.2019 №8 [P-№8] </div>
            </div>
			



<br>

			 <div id="online_doc">
                <div class="online_doc_ifo">Збірник шаблонів</div>
                <h1> <a href="https://docs.google.com/document/d/1VGLAJEIcfqc9qCCqIYhrMCzslWPl6niXwLUv9uFBdvQ/edit?ts=5ea984be" target="_blank">Розпорядження про повторний 
автоматизований розподіл</a></h1>
                <div class="online_doc_about">Розпорядчі документи </div>
            </div>




        </div>
    </div>
    {% include ('module/footer.html.twig') %}

</body>
</html>
