<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}
<body>

<div class="container-fluid">
    {% include ('module/mainmenu.html.twig') %}
    <div class="row logo">

        <div class="col-md-6">
            <h1 class="text-left"><a href="/">Календар заходів Касаційного адміністративного суду</a> </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="online_doc">
                <div class="online_doc_ifo">Загальна інформація</div>
                <h1> <a href="https://mail.supreme.court.gov.ua/owa/calendar/8eed23b4095f41d1947d8ab704134c64@supreme.court.gov.ua/ed4e6a11a20c4f6fb5fc279682c6818311199664438880164966/calendar.html" target="_blank">Посилання на календар</a></h1>
                <div class="online_doc_about">Заходи Касаційного адміністративного суду</div>
            </div>

            



        </div>
    </div>
    {% include ('module/footer.html.twig') %}

</body>
</html>
