
<!-- 
<footer id="footer" class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="cop_top">
                <p class="pull-left">©</p>
                <p class="pull-right">Секретаріат Касаційного адміністративного суду у складі Верховного Суду</p>
            </div></div>
            <div class="row cop_top">
                <div class="cop_top">
                <p class="pull-left">©</p>
                <p class="pull-right">Управління забезпечення автоматизованого документообігу суду</p>
            </div>
            </div>

            <div class="row cop_top">
                <div class="cop_top">
                <p class="pull-left">©</p>
                <p class="pull-right">Відділ забезпечення функціонування автоматизованої системи та електронного суду</p>
            </div></div>
        </div>
    </div>
</footer> -->