<div class="row menu">
    <ul class="menu-main">
        <li><a href="" onclick="history.go(-1); return false;">Повернутися</a></li>
        <li><a href="/">Головна</a></li>
        <li><a href="/pokazniki">Показники</a></li>
        <li><a href="/rozklad">Призначені справи</a></li>
        <li><a href="/onlinedoc">Онлайн документи</a></li>
        <li><a href="/term">Новини</a></li>
        <li><a href="#">Ідеї</a></li>
    </ul>
</div>