<!DOCTYPE html>
<html>
{% include ('module/header.html.twig') %}
<body>
{% include ('module/mainmenu.html.twig') %}
<div class="row logo">
    <div class="col-md-6">
        <h1 class="text-left">{{ term.name }}</h1>
    </div>
</div>
<div class="block-content">
    <div class="field field-category">{{ term.description }}</div>
</div>
<br><br><br>
{% include ('module/footer.html.twig') %}

</body>
</html>
