{% extends 'AdminBundle:layouts:base.support.html.twig' %}
{% block support_body %}
    <div class="main">
        <div id="preloader" style="display: none">
            <div id="status">&nbsp;</div>
        </div>
        <div class="page-header">
            <h1 data-menu="cLogin"><small>Add news</small></h1>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}